@import 'tailwindcss';

@config "../tailwind.config.js";

/**
 * BASE
 */
@layer base {
  a,
  img,
  button {
    @apply block;
  }

  input {
    @apply block
    outline-none
    bg-transparent
    w-full;
  }

  input[type='password'] {
    @apply tracking-[5px];
  }

  input[type='password']::placeholder {
    @apply tracking-normal;
  }

  body {
    @apply bg-light-background 
    dark:bg-dark-background 
    text-light-onbackground
    dark:text-dark-onbackground;
  }

  ::-webkit-scrollbar {
    @apply w-2
    h-2
    rounded-full;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-transparent
    rounded-full;
  }

  *:hover::-webkit-scrollbar-thumb {
    @apply bg-light-onbackground/15
    dark:bg-dark-onbackground/15;
  }
}
