@import 'tailwindcss';

@config "../tailwind.config.js";

/**
 * BASE
 */
@layer base {
  a,
  img,
  button {
    @apply block;
  }

  input {
    @apply block
    outline-none
    bg-transparent
    w-full;
  }

  input[type='password'] {
    @apply tracking-[5px];
  }

  input[type='password']::placeholder {
    @apply tracking-normal;
  }

  body {
    @apply bg-light-background 
    dark:bg-dark-background 
    text-light-onbackground
    dark:text-dark-onbackground;
  }

  ::-webkit-scrollbar {
    @apply w-2
    h-2
    rounded-full;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-transparent
    rounded-full;
  }

  *:hover::-webkit-scrollbar-thumb {
    @apply bg-light-onbackground/15
    dark:bg-dark-onbackground/15;
  }
}

@theme {
  --state-layer-bg: theme('colors.light.onPrimary');
}

html.dark {
  --state-layer-bg: theme('colors.dark.onPrimary');
}

/* 
  COMPONENTS
*/

@layer components {
  /* text fileld */

  .text-field-wrapper {
    @apply relative;
  }

  .text-field {
    @apply ring ring-inset
    ring-light-outline dark:ring-dark-outline
    bg-inherit
    text-light-on-surface dark:text-dark-on-surface
    caret-light-primary dark:caret-light-primary
    h-14
    px-4
    rounded-extra-small
    transition-shadow duration-short3 ease-linear

    hover:ring-light-on-surface
    hover:dark:ring-dark-on-surface

    focus:ring-2
    focus:ring-light-primary
    focus:dark:ring-dark-primary;
  }

  .text-field::placeholder {
    @apply opacity-0
    transition-opacity;
  }

  .text-field:focus::placeholder {
    @apply opacity-100;
  }

  /* дефолтное отображение label */
  .label-text {
    @apply absolute
    text-label-large
    top-[18px]
    left-2
    text-light-on-surface-variant
    dark:text-dark-on-surface-variant
    bg-light-background
    dark:bg-dark-background
    px-2
    origin-[center_left]
    pointer-events-none
    select-none
    transition-[color,transform] duration-short4 ease-standard;
  }

  .text-field-wrapper:hover .label-text {
    @apply text-light-on-surface
    dark:text-dark-on-surface;
  }

  /* условие отображения label над полем ввода */
  .text-field-wrapper:focus-within .label-text,
  .text-field-wrapper:has(.text-field:not(:placeholder-shown)) .label-text {
    @apply translate-x-0.5
    -translate-y-7
    scale-[0.85];
  }

  .text-field-wrapper:focus-within .label-text {
    @apply text-light-primary
    dark:text-dark-primary;
  }

  .text-field-wrapper .helper-text {
    @apply text-light-on-surface
    dark:text-dark-on-surface
    text-body-small
    px-4
    pt-1;
  }

  /* Button */

  .btn {
    @apply h-10 
    flex
    justify-center
    items-center
    rounded-full
    text-label-large
    px-4
    transition-shadow duration-short3 ease-standard

    hover:shadow-elevation1

    focus:shadow-none;
  }

  .btn.filled.primary {
    --state-layer-bg: theme('colors.light.onPrimary');
    @apply bg-light-primary
    dark:bg-dark-primary
    text-light-on-primary
    dark:text-dark-on-primary;
  }

  @media (prefers-color-scheme: dark) {
    .btn.filled.primary {
      --state-layer-bg: theme('colors.dark.onPrimary');
    }
  }

  .btn.filled:disabled {
    @apply bg-light-on-surface/12
    dark:bg-dark-on-surface/12
    text-light-on-surface/38
    dark:text-dark-on-surface/38
    /* отключаем взаимдейстиве с пользователем */
    pointer-events-none;
  }

  /* state layer */

  /* выбирвем класс - если он содержит указанного пряиого потомка */
  :has(> .state-layer) {
    @apply relative
    overflow-hidden
    isolate;
  }

  .state-layer {
    @apply absolute 
    inset-0
    bg-(--state-layer-bg)
    opacity-0
    transition-opacity duration-short3 ease-standard
    pointer-events-none
    select-none
    -z-10;
  }

  /* если родительский элемент содержит - прямого потомка .state-layer при hover - то примеяем стиль к потомку */
  :has(> .state-layer):hover > .state-layer {
    @apply opacity-50;
  }

  /* тоже самое для фокуса */
  :has(> .state-layer):where(:focus, :focus-visible, :focus-within)
    > .state-layer {
    @apply opacity-10;
  }

  /* Link */
  .link {
    @apply transition-colors duration-short3 ease-standard

    hover:text-light-primary
    hover:dark:text-dark-primary
    hover:underline;
  }
}

/* 
  UTILS
*/

@layer utilities {
  .img-box {
    @apply bg-light-surface-container-highest
    dark:bg-dark-surface-container-highest
    overflow-hidden;
  }

  .img-cover {
    @apply w-full
    h-full
    object-cover;
  }
}
